
.nav {
  padding: 2px 20px;
  margin-bottom: 2%;
  background:#ff6600;
}

.ui.menu {
  margin-top: 0;
}

.logo-title {
  display: inline-block;
}

.info {
  display: inline-block;
}

#logo {
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
  margin-right: 10px;
  
}

.ui.six.doubling.cards {
  padding: 0 5%;
}
 
.ui.card:hover {
  box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
  background: pink;
}

#card {
 
  text-align:left;
  padding: 1rem;
  width: 20rem;
  height: 20rem;
  display: inline-grid;
  margin: 0.4rem 0.4rem;
  box-shadow:none;
}


.sub-header {
  padding: 2% 5%;
}

.load-container {
  display: flex;
  justify-content: center;
  padding: 15% 0;
}

.loading {
  height: 30px;
  width: 30px;
}

.score {
  position:absolute;
  bottom:0;
  right:0;
  padding:10px;
}
