.app-container {
  
  /* margin: 0% 5%; */
 
}

.nav {
  padding: 2px 20px;
  margin-bottom: 2%;
  background:rgb(250, 240, 242);
}

.ui.menu {
  margin-top: 0;

}

.ui.six.doubling.cards {
  /* margin: 0% 10%; */
  padding: 0 5%;
  
}

 
.ui.card:hover {
  box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
  background: pink;
}

#card {
 
  text-align:left;
  padding: 1rem;
  width: 20rem;
  height: 20rem;
  display: inline-grid;
  margin: 0.4rem 0.4rem;
}
